.code-snippet {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-x: auto;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
}

.image-container div {
    margin: 10px;
}

.image-container img {
    max-width: 1280px;
    max-height: 720px;
}

.image-title {
    text-align: center;
    margin-bottom: 5px;
}

.titled-image-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
}

.title-and-link {
    display: flex;
    align-items: center;
    width: 100%;
}

.image-title {
    text-align: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

.view-link {
    cursor: pointer;
    display: block;
}

.hidden-image {
    max-width: 1280px;
    max-height: 720px;
    display: none;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.label-value-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
}

.label {
    font-weight: bold;
    text-align: right;
}

.value {
}

.label-value-grid > * {
    padding: 2px 0;
}

.comparison-image-set {
    display: flex;
    align-items: center;
 gap: 40px;
}

.comparison-image-set > .image-container {
    margin-top: 0;
}

.comparison-image-set > .image-container:has(+.image-group) {
    margin-top: 40px;
}

.missing-image {
    display: flex;
    width: 640px;
    height: 480px;
    align-items: center;
    justify-content: center;
    background: floralwhite;
}

.image-group {
    outline-style: none;
    outline-offset: 6px;
}

.image-group-golden {
    outline: 6px solid gold;
}

.image-group-golden-xemu {
    outline: 6px solid #62d262;
}

.image-group-title-bar {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 40px;
}

.image-comparison {
    cursor: pointer;
}

.page-content {
    margin-left: 48px;
    padding: 0 10px;
}

.sidenav {
    height: 100%;
    width: 48px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.known-issues {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    color: #856404;
    padding: 15px;
    margin: 10px auto;
    width: calc(100% - 60px);
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    font-family: sans-serif;
    line-height: 1.6;
}

.known-issues::before {
    content: "⚠️";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
}

.known-issues ul {
    list-style-type: disc;
    margin: 10px 0 10px 30px;
    padding-left: 0;
}

.known-issues li {
    margin-bottom: 5px;
}

.known-issues li:last-child {
    margin-bottom: 0;
}